/* Hide the tab bar */
#TabsToolbar {
  visibility: collapse !important;
  margin-bottom: 21px !important;
}
/* Hide the sidebar header (new sidebar, sidebar.revamp = true) */
#sidebar-panel-header {
  display: none !important;
}
